<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="PatientPals" />
    <meta property="og:image" content="<%= image_url('dr_favi.png') %>"/>
    <meta property="og:description"
      content="PatientPals is a full-stack application that allows Users to register as either a Patient or Patient Partner. Utilizing a Ruby on Rails and PostgreSQL backend, I implemented a Direct Messaging feature using separate tables of Conversations and Messages. React and Redux were integrated for the frontend with a Bootstrap CSS Framework."
    />
    <meta property="og:url"
      content="https://patient-pals.herokuapp.com/"
    />
    <meta name="author" content="Joshua Clarence D. Sadsad">
    <title>PatientPals</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <%= favicon_link_tag asset_path('dr_favi.png') %>
  </head>

  <body>
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
  </body>
</html>
